:root{
    --footer: #023268;
    --primary: #568ea6;
    --secondary: #305f72;
    --text: #0f0f0f;
    --button-1:#1b2fe2;
    --button-2:#a51087;
}
@media screen and (max-width: 1000px) {
    #About{
        padding-left: 5%;
        padding-right: 5%;
    }
    #navigation-ribbon{
        display:block;
    }
    #toggle-nav{
        display: block;
    }
    #first-row{
        display: flex;
        justify-content: space-between;
    }
    #second-row{
        display: none;
        flex-direction: column; /* this won't apply until it's flex */
        gap: 5%; /* optional: spacing between links */
        padding:0 2% 2% 2%;
    }
    #second-row.active{
        display: flex;
        flex-direction: row;
        justify-self: center;
    }
    .content ul{
        display:block
    }
    #highlights{
        display: block;
        padding:2%;
    }
    #highlights li{
        max-width: 90%;
        margin: 5%;
    }
}