body{
    font-family:'Delius', cursive;
    border:0;
    padding: 0;
    margin:1px;
    background: -webkit-linear-gradient(135deg, hsla(0, 100%, 35%, 1) 0%, hsla(285, 80%, 38%, 1) 100%);
    font-size:larger;
}
.navigation-ribbon {
    background-color: black; 
    position: fixed;
    width: 100%; 
    top: 5px; 
    z-index: 1000; 
}

.navigation-ribbon ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center;
    align-items:center;
}

.navigation-ribbon li {
    margin: 0; 
    width: 100%;
}

.navigation-ribbon li a {
    display: block; 
    color: white; 
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    width: 100%; 
    transition: background-color 0.3s;
}
.navigation-ribbon li a:hover{
    background-color: gray;
}

