:root {
    --spotify-green: rgb(29, 185, 84);
    --spotify-dark-green: rgb(30, 153, 70);
    --spotify-black: rgb(25, 20, 20);
    --spotify-white: rgb(255, 255, 255);
    --spotify-light-gray: rgb(248, 248, 248);
    --spotify-medium-gray: rgb(83, 83, 83);
}
body{
    font-family: 'Delius';
    border:0;
    padding:0;
    margin:0;
    background-color: var(--spotify-medium-gray);
}

.navigation-ribbon {
    list-style: none;
    padding: 0; /* Remove any padding from the parent */
    display: flex;
    justify-content: space-between; /* Space between title and links */
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    font-size: large;
    align-items: center; /* Center items vertically */
    width: 99.80%; /* Ensure it stretches to full width */
    border:2px solid var(--spotify-medium-gray);
    border-radius: 10px;
}

.navigation-ribbon h1 {
    padding-left: 3%;
    padding-top:1%;
    padding-bottom:0.7%;
    margin: 0; /* Remove margin from h1 */
    display: inline-block; /* Make sure h1 stays in line */
}

.navigation-ribbon ul {
    display: flex; /* Ensure list items are on one line */
    margin: 0; /* Remove margin from ul */
    padding: 0; /* Remove padding */
    justify-content: flex-end; /* Align list items to the right */
}

.navigation-ribbon li {
    display: inline-block; /* Keep items inline */
    padding: 10px;
    margin: 0 5px; /* Space between items */
}

.navigation-ribbon a {
    color: var(--spotify-white);
    text-decoration: none; /* Remove underline from links */
}

button{
    background-color: var(--spotify-dark-green);
    color: var(--spotify-white);
    border: 1px solid var(--spotify-medium-gray);
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 100px;
    cursor: pointer;
}
#Panel{
    display:flex;
}
.dashboard{
    display:flex;
    background: linear-gradient(to bottom, var(--spotify-black), var(--spotify-dark-green));
    border:1px;
    border-radius: 10px;
    height: max-content;
}
#Projects{
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    padding: 1%;
    margin: 0;
    border:1px;
    border-color: var(--spotify-medium-gray);
    border-style: solid;
    border-radius: 15px;
    width: 10%;
    min-height: 80vh;
}
#Projects ul{
    padding: 1%;
    margin: 0;
    list-style: none;
}
#Projects li{
    color: var(--spotify-white);
    font-size: 1em;
    padding-left: 1%;
    padding:5px;
}
#Projects a{
    color: var(--spotify-white);
    text-decoration: none;
}
#Projects a:hover{
    color: var(--spotify-green);
}

.Project{
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    width: 100%;
    border: 1px solid var(--spotify-medium-gray);
    border-radius: 10px;
}
footer {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 80px; /* fixed height */
    background-color: #111; /* optional */
    border:2px solid;
    border-radius: 10px;
}

footer .socials {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

footer .socials li img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
}  
  
